<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.raj.controler.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>com.raj.controler.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.raj.controler.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.raj.controler.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>appoint_leader</display-name>
    <servlet-name>appoint_leader</servlet-name>
    <servlet-class>com.raj.controler.appoint_leader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appoint_leader</servlet-name>
    <url-pattern>/appoint_leader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>votenow</display-name>
    <servlet-name>votenow</servlet-name>
    <servlet-class>com.raj.controler.votenow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>votenow</servlet-name>
    <url-pattern>/votenow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.raj.controler.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vote</display-name>
    <servlet-name>vote</servlet-name>
    <servlet-class>com.raj.controler.vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajax2</display-name>
    <servlet-name>ajax2</servlet-name>
    <servlet-class>com.raj.controler.ajax2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajax2</servlet-name>
    <url-pattern>/ajax2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admission</display-name>
    <servlet-name>admission</servlet-name>
    <servlet-class>com.raj.controler.admission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admission</servlet-name>
    <url-pattern>/admission</url-pattern>
  </servlet-mapping>
</web-app>